.card-user {
	background: #fff;
	border-radius: 6px;
	width: 100%;
	height: 100%;
}

.card-user img {
	max-width: 100%;
	border-radius: 5px 5px 0 0;
}

.card-user footer {
	flex: 1;
	padding: 15px 20px;
	text-align: left;
	background: #fff;
	color: #1a1919fb;
}

.card-user footer strong {
	font-size: 16px;
	color: #333;
}

.card-user footer p {
	font-size: 14px;
	line-height: 20px;
	color: #999;
	margin-top: 5px;
}

.card-user .buttons {
	margin-top: 10px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	bottom: 0;
}

.card-user .buttons button {
	height: 50px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
	border: 0;
	border-radius: 4px;
	background: #fff;
	cursor: pointer;
}

.card-user .buttons button:hover img {
	transform: translateY(-5px);
	transition: all 0.2s;
}
