@font-face {
	font-family: 'Open Sans Condensed';
	src: url('assets/fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf');
}

@font-face {
	font-family: 'Roboto Light';
	src: url('assets/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
	font-family: 'Roboto';
	src: url('assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
	font-family: 'Amatic';
	src: url('assets/fonts/Amatic_SC/AmaticSC-Regular.ttf');
}

@font-face {
	font-family: 'Montserrat';
	src: url('assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
	color: #f5f5f5;
}

body {
	background: #222222;
}

body,
input,
button {
	font-family: 'Roboto', sans-serif;
}

.hide {
	display: none;
}
